.example {
  background-color: #f2f2f2;

  @media (min-width: $tablet_width) {
    background: none;
    background-image: linear-gradient(to top, #eaeaea 0%, #eaeaea 460px, transparent 460px);
  }

  @media (min-width: $desktop_width) {
    background-image: linear-gradient(to top, #eaeaea 0%, #eaeaea 435px, transparent 435px);
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  padding: 17px 20px 38px;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    box-sizing: border-box;
    height: 1051px;
    width: $tablet_width;
    padding: 13px 30px 68px;
  }

  @media (min-width: $desktop_width) {
    width: $desktop_width;
    height: auto;
    padding: 105px 110px 0;
  }
}

.example__heading {
  @include strong_text;
  margin: 0;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;

  @media (min-width: $tablet_width) {
    margin-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 146px;
  }
}

.example__content {
  @media (min-width: $desktop_width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__text {
  @media (min-width: $desktop_width) {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

.example__paragraph {
  @include normal_text;
  padding: 0;
  padding-right: 1px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet_width) {
    margin-bottom: 53px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop_width) {
    width: 431px;
    margin-bottom: 66px;
    padding-right: 0;
  }
}

.example__result-cost {
  @media (min-width: $tablet_width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop_width) {
    flex-direction: column;
    margin-bottom: 73px;
  }
}

.example__results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 33px;

  @media (min-width: $tablet_width) {
    width: 366px;
  }

  @media (min-width: $desktop_width) {
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 60px;
  }
}

.example__result {
  position: relative;
  width: 122px;
  padding: 19px 0 21px;
  text-align: center;
  font-weight: bold;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 3px;

  @media (min-width: $tablet_width) {
    width: 160px;
  }

  @media (min-width: $desktop_width) {
    margin-right: 42px;
  }
}

.example__gains {
  @include normal_text;
  position: absolute;
  left: 50%;
  bottom: -16px;
  transform: translateX(-50%);
  width: 63%;
  text-transform: lowercase;
  background-color: #f2f2f2;
  padding: 0 10px;
  margin: 0;
  font-size: 12px;
  line-height: 11px;

  @media (min-width: $tablet_width) {
    width: 79%;
    bottom: -6px;
    font-size: 14px;
    line-height: 9px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop_width) {
    background-color: #eaeaea;
  }
}

.example__numbers {
  @include strong_text;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet_width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.example__cost {
  @include strong_text;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet_width) {
    text-align: right;
    max-width: 175px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop_width) {
    max-width: none;
    text-align-last: left;
    padding-top: 0;
  }

  span {
    @media (min-width: $desktop_width) {
      padding-left: 60px;
    }
  }
}

.example__range-block {
  padding-top: 34px;

  @media (min-width: $tablet_width) {
    padding-top: 0;
  }

  @media (min-width: $desktop_width) {
    display: flex;
    position: relative;
    width: 570px;
  }
}

.example__cat {
  margin-left: -20px;

  @media (min-width: $tablet_width) {
    margin-left: 17px;
  }

  @media (min-width: $desktop_width) {
    position: absolute;
    right: -40px;
    bottom: 130px;
    margin-left: 0;
  }
}

.example__compare {
  margin: 31px 39px 0 auto;
  text-align: right;
  width: 197px;

  @media (min-width: $tablet_width) {
    margin-top: auto;
  }

  @media (min-width: $desktop_width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
