.extra {
  position: relative;
  width: 320px;
  box-sizing: border-box;
  padding: 30px 20px 35px;
  margin: 0 auto;

  @media (min-width: $tablet_width) {
    width: $tablet_width;
    padding: 12px 30px 0;
  }

  @media (min-width: $desktop_width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: $desktop_width;
    padding: 132px 110px 20px;
  }
}

.extra__heading {
  margin: 0;
  padding-bottom: 34px;

  @include strong_text;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;

  @media (min-width: $tablet_width) {
    box-sizing: border-box;
    width: 413px;
    text-align: left;
    padding-left: 38px;
    font-size: 36px;
    line-height: 36px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop_width) {
    position: absolute;
    top: 10px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    right: -30px;
    top: 42px;
    background-color: $main_color;
    z-index: -1;
  }
}

.extra__list {
  list-style: none;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  @media (min-width: $desktop_width) {
    box-sizing: border-box;
    width: 895px;
  }
}

.extra__special {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  height: 290px;
  padding: 65px 0 45px;
  background-color: $main_color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet_width) {
    flex-direction: row;
    height: 200px;
    padding: 0 91px;
  }

  @media (min-width: $desktop_width) {
    flex-direction: column;
    height: auto;
    width: 245px;
    padding: 65px 0 45px;
  }

  img {
    @media (min-width: $tablet_width) {
      margin-right: 278px;
    }

    @media (min-width: $desktop_width) {
      margin-right: 0;
    }
  }
}

.extra__paragraph {
  width: 165px;
  text-align: center;
  margin: 0 auto;

  @include normal_text;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  @media (min-width: $tablet_width) {
    text-align: left;
  }

  @media (min-width: $desktop_width) {
    text-align: center;
  }
}
