.features {
  padding: 20px 20px 22px;
}

.features__heading {
  @include strong_text;
  margin: 0;
  margin-bottom: 35px;
  text-transform: none;
  font-size: 36px;
  line-height: 60px;
}

.features__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__feature-card {
  padding-bottom: 20px;
}
