.form {
  padding: 0;

  @media (min-width: $tablet_width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop_width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.form__cat-information {
  display: flex;
  flex-direction: column;
  padding: 23px 0;
  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet_width) {
    margin-bottom: 49px;
    border: none;
  }

  @media (min-width: $desktop_width) {
    box-sizing: border-box;
    width: 570px;
    margin-right: 80px;
    margin-bottom: 0;
    padding: 0;
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    input {
      flex-grow: 1;
      margin-left: 15px;
    }
  }

  label:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet_width) {
      margin-bottom: 20px;
    }
  }
}

.form__purpose {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  padding-left: 65px;
  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet_width) {
    box-sizing: border-box;
    margin-left: auto;
    padding: 32px 0 35px 87px;
    border: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop_width) {
    justify-content: space-between;
    width: 570px;
  }

  label:not(:last-child) {
    margin-bottom: 28px;
  }
}

.form__contacts {
  display: flex;
  flex-direction: column;
  padding: 30px 0;

  @media (min-width: $tablet_width) {
    padding-top: 74px;
  }

  @media (min-width: $desktop_width) {
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 220px;
    margin-top: 70px;
    padding-top: 110px;
    position: relative;
  }

  .form__heading {
    @media (min-width: $desktop_width) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    @media (min-width: $desktop_width) {
      width: 570px;
    }

    input {
      flex-grow: 1;
      margin-left: 15px;
    }
  }

  label:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet_width) {
      margin-bottom: 20px;
    }
  }
}

.form__heading {
  @include strong_text;
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;

  @media (min-width: $tablet_width) {
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form__comments {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  @media (min-width: $desktop_width) {
    width: 100%;
  }
}

.form__about-cat {
  padding: 10px 0;
  outline: none;
  border: 1px solid rgba(205, 205, 205, 0.5);
  resize: none;

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:active,
  &:focus {
    border: 1px solid rgb(68, 68, 68);
    box-shadow: 0 0 0 1px rgb(68, 68, 68);
  }
}

.form__extra {
  display: flex;
  flex-direction: column;
  padding: 10px 0 32px;

  @media (min-width: $tablet_width) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 158px 0 64px;
  }

  @media (min-width: $desktop_width) {
    width: 100%;
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    @media (min-width: $tablet_width) {
      box-sizing: border-box;
      width: 285px;
      padding-left: 59px;
    }

    @media (min-width: $desktop_width) {
      width: 245px;
      padding-left: 0;
    }
  }

  label:not(:last-child) {
    margin-bottom: 28px;
  }

  .form__heading {
    @media (min-width: $tablet_width) {
      position: absolute;
      top: 60px;
    }
  }
}

.form__link {
  width: 100%;
  margin-bottom: 20px;
  padding: 9px 0 13px;

  @include strong_text;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #ffffff;
  background-color: $main_color;

  @media (min-width: $tablet_width) {
    align-self: flex-start;
    width: 283px;
    margin-right: 60px;
    padding: 15px  0 16px;
    font-size: 20px;
  }

  @media (min-width: $desktop_width) {
    width: 570px;
    margin-right: 80px;
  }

  &:hover {
    background-color: $main_color_hover;
  }

  &:active {
    color: $text_color_active;
  }
}

.form__note {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;

  @include normal_text;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet_width) {
    display: inline;
  }

  @media (min-width: $desktop_width) {
    padding-top: 15px;
  }
}

.form input,
.form label,
.form textarea {
  @include strong_text;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.form input,
.form textarea {
  padding: 10px 13px;
  outline: none;
  border: 1px solid rgba(205, 205, 205, 0.5);

  @media (min-width: $tablet_width) {
    padding: 11px 19px;
  }

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:active,
  &:focus {
    border: 1px solid rgb(68, 68, 68);
    box-shadow: 0 0 0 1px rgb(68, 68, 68);
  }
}

.form textarea {
  @media (min-width: $tablet_width) {
    line-height: 30px;
  }
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__radio:active + label,
.form__checkbox:active + label {
  opacity: 0.3;
}
