.form {
  padding: 0;
  margin-left: -2px;

  @media (min-width: $tablet_width) {
    padding: 0 37px 0 40px;
    margin-left: 0;
  }

  @media (min-width: $desktop_width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.form__cat-information {
  display: flex;
  flex-direction: column;
  padding: 23px 0;
  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet_width) {
    margin-bottom: 49px;
    border: none;
  }

  @media (min-width: $desktop_width) {
    box-sizing: border-box;
    width: 570px;
    margin-right: 80px;
    margin-bottom: 0;
    padding: 0;
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  label:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet_width) {
      margin-bottom: 18px;
    }
  }
}

.form__input {
  flex-grow: 1;
  margin-left: 18px;

  @media (min-width: $desktop_width) {
    margin-left: 16px;
  }
}

.form__input--margin {
  margin-left: 21px;
}

.form__purpose {
  display: flex;
  flex-direction: column;
  padding: 26px 0;
  padding-left: 47px;
  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet_width) {
    box-sizing: border-box;
    margin-left: auto;
    padding: 32px 0 35px 87px;
    border: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop_width) {
    justify-content: space-between;
    width: 570px;
    padding: 34px 0 35px 85px;
  }

  label:not(:last-child) {
    margin-bottom: 27px;

    @media (min-width: $tablet_width) {
      margin-bottom: 33px;
    }
  }
}

.form__contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 29px 0 27px 0;

  @media (min-width: $tablet_width) {
    padding-top: 74px;
  }

  @media (min-width: $desktop_width) {
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 220px;
    margin-top: 69px;
    padding-top: 110px;
    position: relative;
  }

  .form__heading {
    &::after {
      position: absolute;
      content: "";
      width: 83px;
      height: 3px;
      right: 0;
      top: 45px;
      background-color: #68b738;
      z-index: -1;
    }

    @media (min-width: $tablet_width) {
      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        left: -70px;
        top: 93px;
        background-color: #68b738;
        z-index: -1;
      }

      &::after {
        position: absolute;
        content: "";
        width: 147px;
        height: 3px;
        right: -67px;
        top: 93px;
        background-color: #68b738;
        z-index: -1;
      }
    }

    @media (min-width: $desktop_width) {
      position: absolute;
      top: -1px;
      left: -2px;

      &::before {
        display: none;
      }

      &::after {
        position: absolute;
        content: "";
        width: 670px;
        height: 3px;
        right: -708px;
        top: 23px;
        background-color: #68b738;
        z-index: -1;
      }
    }
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    @media (min-width: $desktop_width) {
      width: 570px;
    }
  }

  label:not(:last-child) {
    margin-bottom: 13px;

    @media (min-width: $tablet_width) {
      margin-bottom: 18px;
    }
  }
}

.form__contacts input {
  @media (min-width: $tablet_width) {
    margin-left: 15px;
  }

  @media (min-width: $desktop_width) {
    margin-left: 17px;
  }
}

label[for="owner-email"] {
  @media (min-width: $tablet_width) {
    margin-left: 2px;
  }

  @media (min-width: $desktop_width) {
    margin-left: 0;
  }
}

input[name="owner-email"] {
  flex-grow: 1;
  margin-left: 12px;

  @media (min-width: $tablet_width) {
    margin-left: 21px;
    padding: 11px 21px;
  }
}

label[for="owner-number"] {
  @media (min-width: $desktop_width) {
    margin-right: 3px;
  }
}

.form__heading {
  @include strong_text;
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;

  @media (min-width: $tablet_width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop_width) {
    margin-left: -1px;
  }
}

.form__comments {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 2px;

  @media (min-width: $tablet_width) {
    padding-top: 36px;
  }

  @media (min-width: $desktop_width) {
    width: 100%;
    padding-top: 10px;
  }

  .form__heading {
    &::after {
      position: absolute;
      content: "";
      width: 140px;
      height: 3px;
      right: 0;
      top: 16px;
      background-color: #68b738;
      z-index: -1;
    }

    @media (min-width: $tablet_width) {
      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        left: -70px;
        top: 53px;
        background-color: #68b738;
        z-index: -1;
      }

      &::after {
        position: absolute;
        content: "";
        width: 477px;
        height: 3px;
        right: -67px;
        top: 53px;
        background-color: #68b738;
        z-index: -1;
      }
    }

    @media (min-width: $desktop_width) {
      &::before {
        display: none;
      }

      &::after {
        position: absolute;
        content: "";
        width: 1000px;
        height: 3px;
        right: 0;
        top: 33px;
        background-color: #68b738;
        z-index: -1;
      }
    }
  }
}

.form__about-cat {
  @include strong_text;
  padding: 12px 13px 16px 15px;
  outline: none;
  border: 1px solid rgba(205, 205, 205, 0.5);
  resize: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #222222;

  @media (min-width: $tablet_width) {
    padding: 14px 14px 21px 20px;
    font-size: 20px;
  }

  @media (min-width: $desktop_width) {
    padding: 14px 14px 21px 17px;
  }

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:active,
  &:focus {
    border: 1px solid rgb(68, 68, 68);
    box-shadow: 0 0 0 1px rgb(68, 68, 68);
  }
}

.form__extra {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 28px 0 32px;
  margin-bottom: 9px;

  @media (min-width: $tablet_width) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 168px 2px 7px 0;
  }

  @media (min-width: $desktop_width) {
    width: 100%;
    margin-bottom: 14px;
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 47px;

    @media (min-width: $tablet_width) {
      box-sizing: border-box;

      width: 50%;
      padding-left: 59px;
    }

    @media (min-width: $desktop_width) {
      width: 245px;
      padding-left: 58px;
    }
  }

  label:not(:last-child) {
    margin-bottom: 26.5px;

    @media (min-width: $tablet_width) {
      margin-bottom: 50.5px;
    }
  }

  .form__heading {
    margin-bottom: 41px;

    &::after {
      position: absolute;
      content: "";
      width: 120px;
      height: 3px;
      right: 0;
      top: 42px;
      background-color: #68b738;
      z-index: -1;
    }

    @media (min-width: $tablet_width) {
      position: absolute;
      top: 65px;

      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 3px;
        left: -70px;
        top: 22px;
        background-color: #68b738;
        z-index: -1;
      }

      &::after {
        position: absolute;
        content: "";
        width: 452px;
        height: 3px;
        right: -487px;
        top: 22px;
        background-color: #68b738;
        z-index: -1;
      }
    }

    @media (min-width: $desktop_width) {
      left: -2px;

      &::before {
        display: none;
      }

      &::after {
        position: absolute;
        content: "";
        width: 978px;
        height: 3px;
        right: -1014px;
        top: 22px;
        background-color: #68b738;
        z-index: -1;
      }
    }
  }
}


.form__link {
  width: 100%;
  margin-bottom: 21px;
  padding: 11px 65px 9px 68px;

  @include strong_text;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #ffffff;
  background-color: $main_color;

  @media (min-width: $tablet_width) {
    align-self: flex-start;
    width: 283px;
    margin-right: 60px;
    padding: 15px  0 16px;
    font-size: 20px;
  }

  @media (min-width: $desktop_width) {
    width: 570px;
    margin-right: 80px;
  }

  &:hover {
    background-color: $main_color_hover;
  }

  &:active {
    color: $text_color_active;
  }
}

.form__note {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;

  @include normal_text;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet_width) {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    font-size: 16px;
  }

  @media (min-width: $desktop_width) {
    margin-top: 16px;
  }
}

.form input,
.form label {
  @include strong_text;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.form input:disabled + label {
  opacity: 0.3;
}

.form input {
  padding: 9px 15px 10px 14px;
  outline: none;
  border: 1px solid rgba(205, 205, 205, 0.5);

  @media (min-width: $tablet_width) {
    padding: 11px 18px;
  }

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:active,
  &:focus {
    border: 1px solid rgb(68, 68, 68);
    box-shadow: 0 0 0 1px rgb(68, 68, 68);
  }

  &:invalid {
    border: 1px solid #ff6161;
    box-shadow: 0 0 0 1px #ff6161;
  }
}

.form__input--padding {
  margin-left: 11px;

  @media (min-width: $tablet_width) {
    margin-left: 10px;
  }
}

.form textarea {
  @media (min-width: $tablet_width) {
    line-height: 23px;
  }
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__radio + label,
.form__checkbox + label {
  opacity: 0.85;
}

.form__radio:hover + label,
.form__checkbox:hover + label {
  opacity: 1;
}

.form__radio:active + label,
.form__checkbox:active + label {
  opacity: 0.3;
}


.program__form {
  input[type="radio"] + label {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: -44px;
      top: -6px;
      width: 28px;
      height: 28px;
      background-color: transparent;
      border: 8px solid transparent;
      border-radius: 50%;
      box-shadow: 0 0 1px 0 #cecece;
      box-sizing: border-box;
    }

    @media (min-width: $tablet_width) {
      &::before {
        left: -58px;
        top: -8px;
        width: 38px;
        height: 38px;
        border: 10px solid #ffffff;
      }
    }
  }

  input[type="radio"]:checked + label {
    &::before {
      position: absolute;
      content: "";
      left: -44px;
      top: -6px;
      width: 28px;
      height: 28px;
      background-color: #68b738;
      border: 8px solid #ffffff;
      border-radius: 50%;
      box-shadow: 0 0 1px 0 #cecece;
      box-sizing: border-box;
    }

    @media (min-width: $tablet_width) {
      &::before {
        left: -58px;
        top: -8px;
        width: 38px;
        height: 38px;
        border: 10px solid #ffffff;
      }
    }
  }

  input[type="checkbox"] + label {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -6px;
      left: 1px;
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      border: 1px solid #cfcfcf;
    }

    @media (min-width: $tablet_width) {
      &::after {
        top: -9px;
        width: 40px;
        height: 40px;
      }
    }
  }

  input[type="checkbox"]:checked + label {
    &::before {
      position: absolute;
      left: 12px;
      top: -3px;
      width: 8px;
      height: 18px;
      background-color: transparent;
      border: 2px solid #68b738;
      border-bottom: none;
      border-right: none;
      transform: rotate(-136deg);
      content: "";
    }

    @media (min-width: $tablet_width) {
      &::before {
        left: 17px;
      }
    }
  }
}

label[for="owner-email"],
label[for="owner-number"] {
  position: relative;
}

input[name="owner-email"]:active + svg,
input[name="owner-number"]:active + svg,
input[name="owner-email"]:focus + svg,
input[name="owner-number"]:focus + svg {
  fill: $main_color;
}

input[name="owner-email"]:invalid + svg,
input[name="owner-number"]:invalid + svg {
  fill: #ff6161;
}

.form__email-svg,
.form__phone-svg {
  position: absolute;
  right: 0;
  top: 0;
}

.form__email-svg {
  right: 17px;
  top: 16px;

  @media (min-width: $tablet_width) {
    right: 20px;
    top: 20px;
  }
}

.form__phone-svg {
  right: 15px;
  top: 13px;

  @media (min-width: $tablet_width) {
    right: 17px;
    top: 19px;
  }
}
