.location__wrapper {
  position: relative;
}

.location__paragraph {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 26px 18px 26px 19px;
  z-index: 1;

  @media (min-width: $tablet_width) {
    justify-content: space-between;
    width: $tablet_width;
    padding: 64px 66px 64px 72px;
  }

  @media (min-width: $desktop_width) {
    position: absolute;
    top: 100px;
    left: 111px;
    width: 570px;
    padding: 63px 0 64px 76px;
    background-color: #ffffff;
  }
}

.location__invite {
  @include strong_text;
  font-size: 16px;
  line-height: 20px;
  width: 50%;

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop_width) {
    margin-right: 5px;
  }
}

.location__address {
  @include normal_text;
  position: relative;
  margin: 0;
  padding: 0;
  width: 50%;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet_width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop_width) {
    text-align: left;
  }
}

.location__saintp {
  @media (min-width: $tablet_width) {
    position: absolute;
    top: 59px;
    right: 0;
    white-space: nowrap;
    padding-right: 5px;
  }

  @media (min-width: $desktop_width) {
    left: 0;
  }
}
