.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet_width) {
    border: none;
  }

  //@media (min-width: $desktop_width) {
  //}
}

.main-header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;

  img:first-child {
    margin-right: 55px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__image {
  margin-right: 53px;

  @media (min-width: $tablet_width) {
    width: 173px;
    height: 58px;
    margin-right: 0;
  }

  @media (min-width: $desktop_width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__energy {
  @media (min-width: $tablet_width) {
    display: none;
  }
}

.main-header__burger {
  width: 24px;
  height: 18px;
  padding: 0;
  border: none;
  background-position: center;
  background-color: inherit;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet_width) {
    display: none;
  }
}
