.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 39px 20px 20px;

  @media (min-width: $tablet_width) {
    height: 150px;
    width: $tablet_width;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop_width) {
    width: $desktop_width;
    padding: 0 40px;
  }
}

.main-footer__logo {
  margin-bottom: 29px;
  text-align: center;

  @media (min-width: $tablet_width) {
    margin: 0;
  }
}

.main-footer__logo:hover,
.main-footer__logo:focus {
  opacity: 0.9;
}

.main-footer__logo:active {
  opacity: 0.6;
}

.main-footer__paragraph {
  @include strong_text;
  font-size: 24px;
  line-height: 24px;
}

.main-footer__links {
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-footer__academy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet_width) {
    padding-top: 14px;
  }

  @media (min-width: $desktop_width) {
    padding-top: 0;
  }
}

.main-footer__link {
  @include normal_text;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet_width) {
    margin-left: 25px;
  }

  path {
    fill: #666666;
  }

  &:hover,
  &:focus {
    color: $main_color;

    path {
      fill: $main_color;
    }
  }

  &:active {
    opacity: 0.3;
  }

  svg {
    fill: #666666;
  }
}
