.map {
  width: 100%;
  height: 362px;
  background-color: #f2f2f2;

  @media (min-width: $tablet_width) {
    height: auto;
  }

  @media (min-width: $desktop_width) {
    height: 400px;
  }
}

.map__picture {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet_width) {
    width: 100%;
    height: 396px;
  }

  @media (min-width: $desktop_width) {
    width: 100%;
    height: 400px;
  }
}
