.more {
  position: relative;
  padding: 79px 0 24px;
  border-bottom: 1px solid #dedede;

  @media (min-width: $tablet_width) {
    display: flex;
    box-sizing: border-box;
    height: 431px;
    width: 324px;
    padding: 162px 37px 40px;
    border: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop_width) {
    width: 245px;
    height: 434px;
    padding: 162px 35px 40px;
  }
}

.more__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.more__text {
  @include strong_text;
  margin: 0 auto;
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet_width) {
    width: 145px;
    margin-bottom: 27px;
    font-size: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    left: calc(50% - 16px);
    top: 40px;
    background-color: #d3d3d3;

    @media (min-width: $tablet_width) {
      width: 60px;
      left: calc(50% - 29px);
      top: 83px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    left: 138px;
    top: 26px;
    background-color: #d3d3d3;

    @media (min-width: $tablet_width) {
      height: 60px;
      left: 50%;
      top: 54px;
    }
  }
}

.more__note {
  @include normal_text;
  margin: 0 auto;
  margin-bottom: 21px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet_width) {
    width: 175px;
    font-size: 16px;
    line-height: 18px;
  }
}

.more__button {
  font-family: "Oswald", "Arial", sans-serif;

  @include strong_text;
  padding: 10px 0 10px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #f2f2f2;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet_width) {
    margin-top: auto;
    padding: 11px 0 9px;
  }

  @media (min-width: $desktop_width) {
    padding: 10px 1px 12px 4px;
  }
}
