.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #dedede;

  @media (min-width: $tablet_width) {
    justify-content: flex-end;
    width: 324px;
    padding: 0 38px 40px;
    border: none;
    background-image: linear-gradient(to top, #f2f2f2 0%, #f2f2f2 431px, transparent 431px);
  }

  @media (min-width: $desktop_width) {
    width: 245px;
  }
}

.product-card__product {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -2px;

  @media (min-width: $tablet_width) {
    align-items: center;
    flex-direction: column;
  }
}

.product-card__product a {
  @media (min-width: $tablet_width) {
    margin-bottom: 17px;
  }
}

.product-card__text {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 22px;

  @media (min-width: $tablet_width) {
    width: 100%;
    padding-top: 19px;
  }
}

.product-card__name {
  width: 80px;
  margin-bottom: 12px;

  @include strong_text;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  @media (min-width: $tablet_width) {
    width: 135px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }
}

.product-card__information {
  width: 100%;

  @include normal_text;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet_width) {
    line-height: 14px;
    font-size: 16px;
    margin-bottom: 36px;
  }
}

.product-card__row {
  width: 100%;

  @media (min-width: $tablet_width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__cell {
  padding: 0;

  @media (min-width: $tablet_width) {
    padding: 9px 0 8px;
  }
}

.product-card__cell:nth-child(2n) {
  text-align: right;
}

.product-card__link {
  @include strong_text;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  background-color: $main_color;
  color: #ffffff;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $main_color_hover;
  }

  &:active {
    color: $text_color_active;
  }
}

.production__more {
  @media (min-width: $tablet_width) {
    margin-bottom: 58px;
  }
}
