.program__wrapper {
  padding: 0 20px;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: $tablet_width) {
    width: $tablet_width;
    padding: 53px 30px 52px;
  }

  @media (min-width: $desktop_width) {
    width: $desktop_width;
    padding: 70px 110px 62px;
  }
}

.program__title {
  margin: 0;
  margin-bottom: 25px;

  @include strong_text;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;

  @media (min-width: $tablet_width) {
    margin-bottom: 55px;
    font-size: 60px;
  }
}

.program__paragraph {
  margin: 0;
  margin-bottom: 16px;

  @include strong_text;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet_width) {
    margin-bottom: 42px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 65px;
    padding-left: 0;
  }
}
