.promo {
  display: flex;
  flex-direction: column;
  padding: 32px 20px 0;
  background-image: linear-gradient(to bottom, #65a93c 0%, #65a93c 270px, transparent 270px);
  background-image: url('../img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
}

.promo__heading {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Oswald';
  font-size: 36px;
  text-align: center;
  font-weight: normal;
  line-height: 36px;
  color: #ffffff ;
}

.promo__paragraph {
  @include strong_text;
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  text-align: center;
  line-height: 10px;
  color: #ffffff;
}

.promo__img {
  margin-bottom: 3px;
}

.promo__link {
  width: 100%;
  @include strong_text;
  padding: 15px 0 14px 0;
  text-align: center;
  text-decoration: none;
  background-color: $main_color;
  color: #ffffff;
  &:hover {
    background-color: $main_color_hover;
  }
  &:active {
    color: $text_color_active;
  }
}
