.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  height: 480px;
  padding: 27px 20px 0;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #65a93c 0%, #65a93c 305px, transparent 305px);
  background-repeat: no-repeat;

  @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
    background-size: contain;
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to bottom, #65a93c 0%, #65a93c 305px, transparent 305px);
  }

  @media (min-width: $tablet_width) {
    box-sizing: border-box;
    width: $tablet_width;
    height: 864px;
    padding: 53px 120px 0;
    background-image: none;
  }

  @media (min-width: $desktop_width) {
    box-sizing: border-box;
    width: $desktop_width;
    height: 640px;
    padding: 106px 193px 0;
  }

  &::before {
    position: absolute;
    left: 19px;
    top: 168px;
    width: 280px;
    height: 270px;
    content: "";
    background-image: url("../img/index-can-mobile@1x.png");

    @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
      background-size: 280px 270px;
      background-image: url("../img/index-can-mobile@2x.png");
    }

    @media (min-width: $tablet_width) {
      left: 28px;
      top: 254px;
      width: 709px;
      height: 609px;
      z-index: -1;
      background-image: url("../img/index-can-tablet@1x.jpg");

      @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
        background-size: 709px 609px;
        background-image: url("../img/index-can-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop_width) {
      left: 558px;
      top: 25px;
      width: 552px;
      height: 499px;
      background-image: url("../img/index-can-desktop@1x.png");

      @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
        background-size: 552px 499px;
        background-image: url("../img/index-can-desktop@2x.png");
      }
    }
  }
}

.promo__background {
  display: none;

  @media (min-width: $desktop_width) {
    display: block;
    position: absolute;
    top: -117px;
    right: 0;
    width: 680px;
    height: 696px;
    z-index: -2;
    background-image: url("../img/index-background-desktop@1x.jpg");

    @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
      background-size: 680px 696px;
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.promo__heading {
  align-self: center;
  max-width: 320px;
  margin: 0;
  margin-bottom: 28px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  text-align: center;
  font-weight: normal;
  line-height: 36px;
  color: #ffffff;

  @media (min-width: $tablet_width) {
    align-self: flex-start;
    max-width: 460px;
    margin-bottom: 40px;
    margin-left: -4px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }
}

.promo__paragraph {
  @include strong_text;
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  text-align: center;
  line-height: 10px;
  color: #ffffff;

  @media (min-width: $tablet_width) {
    margin-left: -4px;
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 20px;
    align-self: flex-start;
    color: #111111;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 55px;
  }
}

.promo__link {
  @include strong_text;
  width: 100%;
  padding: 12px 0 12px 0;
  margin-top: auto;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color: $main_color;
  color: #ffffff;

  &:hover {
    background-color: $main_color_hover;
  }

  &:active {
    color: $text_color_active;
  }

  @media (min-width: $tablet_width) {
    align-self: flex-start;
    width: auto;
    margin-top: 0;
    padding: 16px 30px 16px 24px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop_width) {
    margin-left: -4px;
  }
}
