.promo__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  height: 480px;
  padding: 32px 20px 0;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #65a93c 0%, #65a93c 305px, transparent 305px);
  background-repeat: no-repeat;

  @media (min-width: $tablet_width) {
    box-sizing: border-box;
    width: $tablet_width;
    height: 870px;
    padding: 70px 120px 0;
    background-image: none;
  }

  @media (min-width: $desktop_width) {
    box-sizing: border-box;
    width: $desktop_width;
    height: 640px;
    padding: 60px 193px 0;
  }
}

.promo__heading {
  align-self: center;
  max-width: 320px;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  text-align: center;
  font-weight: normal;
  line-height: 36px;
  color: #ffffff;

  @media (min-width: $tablet_width) {
    align-self: flex-start;
    max-width: 460px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }
}

.promo__paragraph {
  @include strong_text;
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  text-align: center;
  line-height: 10px;
  color: #ffffff;

  @media (min-width: $tablet_width) {
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 20px;
    align-self: flex-start;
    color: #111111;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 55px;
  }
}

.promo__link {
  @include strong_text;
  width: 100%;
  padding: 15px 0 14px 0;
  margin-top: auto;
  text-align: center;
  text-decoration: none;
  background-color: $main_color;
  color: #ffffff;

  &:hover {
    background-color: $main_color_hover;
  }

  &:active {
    color: $text_color_active;
  }

  @media (min-width: $tablet_width) {
    align-self: flex-start;
    width: auto;
    margin-top: 0;
    padding: 17px 28px;
    font-size: 20px;
    line-height: 20px;
  }
}
