.way-card {
  position: relative;
  background-color: #f2f2f2;
  padding: 39px 20px 20px;

  @media (min-width: $tablet_width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 53px 63px;
  }

  @media (min-width: $desktop_width) {
    max-width: 570px;
    box-sizing: border-box;
  }
}

.way-card__heading {
  @include strong_text;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 23px;

  @media (min-width: $tablet_width) {
    margin-bottom: 27px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop_width) {
    align-self: center;
    margin-bottom: 75px;
  }
}

.way-card__paragraph {
  @include normal_text;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 23px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: $tablet_width) {
    width: 345px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop_width) {
    width: auto;
  }
}

.way-card__paragraph--wide {
  @media (min-width: $tablet_width) {
    width: 375px;
  }

  @media (min-width: $desktop_width) {
    width: auto;
  }
}

.way-card__link {
  margin-top: auto;

  @include strong_text;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;

  &:active {
    opacity: 0.3;
  }
}

.way-card__link::after {
  position: absolute;
  content: "";
  bottom: 24px;
  left: 121px;
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");

  @media (min-width: $tablet_width) {
    bottom: 65px;
    left: 150px;
  }
}
