.way-card {
  position: relative;
  background-color: #f2f2f2;
  padding: 38px 20px 20px;

  @media (min-width: $tablet_width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 75px 53px 63px;
  }

  @media (min-width: $desktop_width) {
    max-width: 570px;
    box-sizing: border-box;
  }
}

.way-card__heading {
  @include strong_text;
  margin: 0;
  margin-bottom: 36px;
  text-align: center;
  font-size: 24px;
  line-height: 23px;

  @media (min-width: $tablet_width) {
    margin-bottom: 26px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop_width) {
    align-self: center;
    margin-bottom: 75px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    left: 22px;
    top: 24px;
    border-radius: 50%;
    background-color: $main_color;

    @media (min-width: $tablet_width) {
      width: 200px;
      height: 200px;
      left: auto;
      right: 62px;
      top: 92px;
    }

    @media (min-width: $desktop_width) {
      width: 100px;
      height: 100px;
      left: 52px;
      right: auto;
      top: 47px;
    }
  }
}

.way-card__heading--slim {
  padding-left: 11px;

  @media (min-width: $tablet_width) {
    padding-left: 0;
  }

  @media (min-width: $desktop_width) {
    padding-left: 22px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 49px;
    left: 30px;
    top: 22px;
    background-image: url("../img/icon-cat-slim.svg");

    @media (min-width: $tablet_width) {
      width: 140px;
      height: 194px;
      left: auto;
      right: 92px;
      top: 80px;
      padding-left: 0;
    }

    @media (min-width: $desktop_width) {
      width: 70px;
      height: 97px;
      left: 66px;
      right: auto;
      top: 41px;
    }
  }
}

.way-card__heading--pro {
  margin-left: 40px;

  @media (min-width: $tablet_width) {
    margin-left: 0;
  }

  @media (min-width: $desktop_width) {
    padding-left: 62px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 67px;
    height: 28px;
    left: 13px;
    top: 35px;
    background-image: url("../img/icon-cat-pro.svg");

    @media (min-width: $tablet_width) {
      width: 268px;
      height: 112px;
      left: auto;
      right: 28px;
      top: 135px;
      bottom: 67px;
    }

    @media (min-width: $desktop_width) {
      width: 134px;
      height: 56px;
      left: 34px;
      right: auto;
      top: 69px;
    }
  }
}

.way-card__paragraph {
  @include normal_text;
  margin: 0;
  margin-bottom: 18px;
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: $tablet_width) {
    width: 344px;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop_width) {
    width: auto;
    margin-bottom: 8px;
  }
}

.way-card__paragraph--wide {
  @media (min-width: $tablet_width) {
    width: 375px;
  }

  @media (min-width: $desktop_width) {
    width: auto;
  }
}

.way-card__link {
  margin-top: auto;

  @include strong_text;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;

  &:hover::after {
    width: 33px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet_width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.way-card__link::after {
  position: absolute;
  content: "";
  bottom: 24px;
  left: 116px;
  width: 24px;
  height: 11px;
  background-repeat: no-repeat;
  background-image: url("../img/icon-right-arrow-long.svg");

  @media (min-width: $tablet_width) {
    bottom: 67px;
    left: 184px;
  }
}
