.way-card {
  position: relative;
  background-color: #f2f2f2;
  padding: 39px 20px 20px;
}

.way-card__heading {
  @include strong_text;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 23px;
}

.way-card__paragraph {
  @include normal_text;
  margin-bottom: 20px;
  padding-bottom: 23px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.way-card__link {
  @include strong_text;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;

  &:active {
    opacity: 0.3;
  }
}

.way-card__link::after {
  position: absolute;
  content: "";
  bottom: 24px;
  left: 121px;
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
}
