.way__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 22px 20px 10px;

  @media (min-width: $tablet_width) {
    width: $tablet_width;
    padding: 30px;
    padding-top: 0;
  }

  @media (min-width: $desktop_width) {
    width: $desktop_width;
    padding: 20px 40px;
  }
}

.way__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop_width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.way__way-card:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet_width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 0;
  }
}
