.example {
  background-color: #f2f2f2;
}

.example__heading {
  @include strong_text;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;
}

.example__result {
  border: 1px solid rgb(205, 205, 205);
  border-radius: 3px;
}

.example__paragraph {
  @include normal_text;
  padding: 0 10px;
  font-size: 14px;
  line-height: 18px;

}

.example__numbers {
  @include strong_text;
  padding: 27px 40px;
  font-size: 24px;
  line-height: 12px;

}

.example__cost {
  @include normal_text;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
