.location {

}

.location__paragraph {
  padding: 27px 20px;
}

.location__invite {
  @include strong_text;
  font-size: 16px;
  line-height: 20px;
}

.location__address {
  @include normal_text;
  font-size: 14px;
  line-height: 20px;
}
