.promo {
  background-color: $main_color;
  background-image: url('../img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
}

.promo__heading {
  font-family: 'Oswald';
  font-size: 36px;
  font-weight: normal;
  line-height: 26px;
  color: #ffffff ;
}

.promo__paragraph {
  @include strong_text;
  font-size: 14px;
  line-height: 10px;
  color: #ffffff;
}

.promo__link {
  @include strong_text;
  padding: 15px 0 14px 0;
  text-decoration: none;
  background-color: $main_color;
  color: #ffffff;
  &:hover {
    background-color: $main_color_hover;
  }
  &:active {
    color: $text_color_active;
  }
}
