$main_color: #68b738;
$main_color_hover: #5eaa2f;
$text_color_active: rgba(#ffffff, 0.3);
$normal_text: #444444;
$strong_text: #111111;
$mobile_width: 320px;
$tablet_width: 768px;
$desktop_width: 1440px;
